* {
    font-family: Roboto;
}

body,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0px;
}

body {
  max-width: 1920px !important;
  min-height: 90vh !important;
  margin: auto;
}
