* {
    font-family: Roboto;
}

body,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0px;
}

body {
  max-width: 1920px !important;
  min-height: 90vh !important;
  margin: auto;
}

.home-footer {
  background-color: black; 
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-footer h3 {
  color: white;
  font-size: 14px;
  text-align: center; 
  font-weight: normal;
  margin-top: 0;
}

.home-footer h3 a {
  color: goldenrod;
  transition: 0.4s;
}

.home-footer h3 a:hover {
  color: #a1a1a1;
}
