.home-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    align-items: center;

    background-color: black;
}

.home-admin {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-admin h1 {
    color: white;
    font-size: 16px;
    margin: 8px;
}

.home-container img {
    position: absolute;
    margin-top: 30px;
}

.home-container .home-img {
    display: flex;
    width: 100%;
    height: 90vh;
    background: url('../../../assets/celeiro.jpg') no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    margin-top: 150px;

    align-items: center;
    justify-content: center;

    box-shadow: 10px -10px 3px #fff;
    -webkit-box-shadow: 2px 2px 20px #fff;
    -moz-box-shadow: 2px 2px 20px #fff;
}


.home-container .home-img a {
    background-color: black;
    
    width: 90%;
    max-width: 300px;
    height: 50px;
    border-radius: 8px;
    text-decoration: none;

    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px;
}

.home-container .home-img a span {
    display: block;
    background: rgba(66, 66, 66, 0.836);
    width: 50px;
    height: 72px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.home-container .home-img a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
}

.home-container .home-img a:hover {
    transition: 0.5s;
    background: rgba(14, 14, 14, 0.89);
}

.home-footer {
    background-color: black; 
    width: 100%;
}

.home-footer h3 {
    color: white;
    font-size: 14px;
    text-align: center; 
    font-weight: normal;
}

.home-footer h3 a {
    color: goldenrod;
    transition: 0.4s;
}

.home-footer h3 a:hover {
    color: #a1a1a1;
}