#page-home {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    
    background: url('../../../assets/backgroundGranja.jpeg') no-repeat;
    background-size: cover;

    overflow: hidden;
}

#page-home .content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-radius: 20px;

    background-color: #ffff;
    box-shadow: 10px -10px 3px #000;
    -webkit-box-shadow: 2px 2px 20px #000;
    -moz-box-shadow: 2px 2px 20px #000;
}

#page-home .content .form-login-user, .form-login-lock {
    display: flex;
    align-items: center;
    padding: 10px;
}

#page-home .content .form-login-user {
    margin-top: 8px;
    margin: 0 20px
}

#page-home .content input {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #a1a1a1;

    margin-left: 6px;
    padding: 3px;
}

#page-home .content a {
    background-color: black;
    
    width: 90%;
    max-width: 360px;
    height: 45px;
    border-radius: 8px;
    text-decoration: none;

    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px;
}

#page-home .content a span {
    display: block;
    background: rgba(66, 66, 66, 0.836);
    width: 50px;
    height: 72px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#page-home .content a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
}

#page-home .content a:hover {
    transition: 0.5s;
    background: rgba(14, 14, 14, 0.89);
}
